.App {
  text-align: center;
}
body {
  position: relative;
  overflow: hidden;
  background-color: rgb(15 23 42);
}

:root {
  --tw-light-x: 0;
  --tw-light-y: 0;
}

.light-effect {
  position: absolute;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.4) 0%,
    transparent 80%
  );
  width: 200px;
  height: 200px;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
}
